.Task {
    box-sizing: border-box;
    margin: auto;
    width: 45%;
}
.Task-Card{
    padding-left:20px;
    margin-bottom: 50px;
}
.Task-Button{
    padding: 10px;
    border-radius: 7px;
    background-color: #2C5490;
    color: white;
}

.u-borderRed{
    border: 1px solid red;
    border-right: 40px solid red;
    border-radius: 5px;
}
.u-borderGreen{
    border: 1px solid green;
    border-right: 40px solid green;
    border-radius: 5px;
}
.u-boldText{
    font-weight: 800;
}
.u-linkNoDecoration{
    text-decoration: none;
}
.u-floatRight{
    float: right;
}


